
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h4 class="reg">Registration Form</h4>
                <form action="" method="post">
                    <div class="form-group">
                      <label >FullName:</label>
                      <input type="text" class="form-control" placeholder="Enter FullName" [(ngModel)]="name" name="fname" id="fname">
                    </div>
                    <div class="form-group">
                        <label >Email:</label>
                        <input type="email" class="form-control" placeholder="Enter email" value="{{email}}" name="email" id="email">
                      </div>
                    <div class="form-group">
                      <label>Password:</label>
                      <input type="password" class="form-control" placeholder="Enter password" value="{{password}}" name="pwd" id="pwd">
                    </div>
                    <div class="form-group">
                      <label>ConformPassword:</label>
                      <input type="password" class="form-control" placeholder="Enter Conformpassword" value="{{password}}" name="cpwd" id="pwd">
                    </div><br>
                    <button type="submit" class="btn btn-primary" name="submit" id="submit" (click)="showData()">Submit</button>
                    <button type="clear" class="btn btn-primary float-end" name="clear" id="clear" (click)="hideData()">Clear</button><br>
                  </form>
                  
            <div class="col-md-4" *ngIf="isShowData">
              <p>{{name}} <br> {{email}} <br> {{password}}</p>
            </div>
        </div>
    </div>
